@model IEnumerable<KU.Student.Starter.UI.Models.ViewModel.TutorViewModel>
@{
    ViewData["Title"] = "My Tutors";
}
<div class="table-pagination-container">
    <table class="table">
        <thead>
            <tr class="table-row table-header-row">
                <td class="table-header">
                    <div class="table-heading">My Tutors</div>

                    <div class="table-header-buttons">

                        <a href="/HeadTutor/AssignedTutors" class="input-box small">Clear Filters</a>

                        <form class="search-form" asp-controller="Tutor" asp-action="Tutor" method="get">
                            <select class="input-box" id="searchBy" name="searchBy" placeholder="Filters">
                                <option disabled selected hidden>Filters</option>
                                <option value="Name">Name</option>
                                <option value="Email">Email</option>
                                <option value="Courses">Courses</option>
                                <option value="Periods">Periods</option>
                                <option value="WeeklyHour">Weekly Hour</option>
                            </select>

                            <div class="input-box">
                                <input class="search-input" type="text" placeholder="Find" name="searchString" />
                            </div>
                            <button type="submit" class="btn secondary-button">Search</button>
                        </form>
                    </div>
                </td>
            </tr>

            <tr class="table-row table-header-row">
                <th class="table-row-item"><div class="table-column-title">Name</div><button class="table-order-button"><img src="/assets/media/icons/dropdown-arrow.svg" /></button></th>
                <th class="table-row-item"><div class="table-column-title">Email</div><button class="table-order-button"><img src="/assets/media/icons/dropdown-arrow.svg" /></button></th>
                <th class="table-row-item"><div class="table-column-title">Courses</div><button class="table-order-button"><img src="/assets/media/icons/dropdown-arrow.svg" /></button></th>
                <th class="table-row-item"><div class="table-column-title">Periods</div><button class="table-order-button"><img src="/assets/media/icons/dropdown-arrow.svg" /></button></th>
                <th class="table-row-item"><div class="table-column-title">Weekly Hour</div><button class="table-order-button"><img src="/assets/media/icons/dropdown-arrow.svg" /></button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tutor in Model)
            {
                <tr class="table-row">
                    <td class="table-row-item">@tutor.Name</td>
                    <td class="table-row-item">@tutor.Email</td>
                    <td class="table-row-item">@tutor.Courses</td>
                    <td class="table-row-item">@tutor.Periods</td>
                    <td class="table-row-item">@tutor.WeeklyHour</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination-row">
        <div class="row-num-box">
            <!-- Show Numbers Of Rows -->
            <select onchange="maxRowNum()" name="state" id="maxRows">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <!-- Start Pagination -->
        <div class='pagination-container'>
            <nav class="pagination">

            </nav>
        </div>
    </div>
</div>