@model KU.Student.Starter.UI.Models.ViewModel.TutorApplicationViewModel
@{
    ViewData["Title"] = "Delete My Application";
}

<div class="form delete-form">
    <div class="header">Delete Tutor Application</div>

    <div class="form-input">
        <div class="form-label">
            <label>Name</label>
        </div>
        <div class="form-data">
            <label>@Model.Name</label>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Email</label>
        </div>
        <div class="form-data">
            <label>@Model.Email</label>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Courses</label>
        </div>
        <div class="form-data">
            <label>@Model.Courses</label>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Periods</label>
        </div>
        <div class="form-data">
            <label>@Model.Periods</label>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Weekly Hour</label>
        </div>
        <div class="form-data">
            <label>@Model.WeeklyHour</label>
        </div>
    </div>

    <div class="form-buttons">
        @using (Html.BeginForm("Delete", "IndividualTutorApplication", new { id = Model.Id }, FormMethod.Post))
        {
            <button type="submit" class="btn primary-button">Delete</button>
            <a asp-action="IndividualTutorApplication" class="btn secondary-button">Cancel</a>
        }
    </div>
</div>

<script>var link = document.createElement("a");
    link.setAttribute("class", "nav-link past-link");
    link.setAttribute("href", "/IndividualTutorApplication/IndividualTutorApplication");
    link.innerText = "My Application";
    document.getElementById("prev-page-breadcrumb").appendChild(link);</script>