@model KU.Student.Starter.UI.Models.ViewModel.TutorViewModel


@{
    ViewData["Title"] = "Edit Tutor";
}
<form class="form" method="post">
    <div class="header">Edit Tutor</div>

    <div class="form-input">
        <div class="form-label">
            <label>Name</label>
        </div>
        <div class="input-div flex-col">
            <input id="Name" name="Name" class="input-box" value="@Model.Name" placeholder="Enter Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>


    <div class="form-input">
        <div class="form-label">
            <label>Email</label>
        </div>
        <div class="input-div flex-col">
            <input id="Email" name="Email" class="input-box" value="@Model.Email" placeholder="Enter Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Courses</label>
        </div>
        <div class="input-div flex-col">
            @Html.ListBoxFor(m => m.CourseIds, new MultiSelectList(Model.CourseOptions, "Value", "Text"), new { @class = "input-box select", multiple = "multiple", id = "Course_DropDown" })
            <br />
            <span asp-validation-for="Courses" class="text-danger"></span>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Periods</label>
        </div>
        <div class="input-div flex-col">
            @Html.ListBoxFor(m => m.PeriodIds, new MultiSelectList(Model.PeriodOptions, "Value", "Text"), new { @class = "input-box", multiple = "multiple", id = "Period_DropDown" })
            <br />
            <span asp-validation-for="Periods" class="text-danger"></span>
        </div>
    </div>

    <div class="form-input">
        <div class="form-label">
            <label>Weekly Hour</label>
        </div>
        <div class="input-div flex-col">
            <input id="WeeklyHour" name="WeeklyHour" class="input-box" value="@Model.WeeklyHour" placeholder="0" readonly />
            <span asp-validation-for="WeeklyHour" class="text-danger"></span>
        </div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn primary-button">Save</button>
        <a asp-action="Tutor" class="btn secondary-button">Cancel</a>
    </div>

</form>

@section Scripts{
    <script>$(document).ready(function () {
    $('#Course_DropDown').select2({
        placeholder: "Select Courses",
        allowClear: true
    });
        });</script>

    <script>$(document).ready(function () {
    $('#Period_DropDown').select2({
        placeholder: "Select Periods",
        allowClear: true
    });
        });</script>
    <script>$(document).ready(function () {
            $('#Period_DropDown').change(function () {
                var selectedCount = $('#Period_DropDown option:selected').length;
                $('#WeeklyHour').val(selectedCount);
            });
        });</script>
}

<script>var link = document.createElement("a");
    link.setAttribute("class", "nav-link past-link");
    link.setAttribute("href", "/Tutor/Tutor");
    link.innerText = "Tutors";
    document.getElementById("prev-page-breadcrumb").appendChild(link);</script>